
.button {
    background-color: #a2b9bc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    margin: auto;
    padding: 15px;
}

.screen {
    background-image: url('./img/resized.amsterdam.pixel.png');
    opacity: 0.7;
    margin: 20px;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
}

.text {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
